include src/pug/_base.pug

input( type="hidden" name="attr_version" value="0.1" )
input( type="hidden" name="attr_current_page" value="1" )

.view
    .tabs
        each n in [1, 2, 3, 4]
            label( class="tab tab-" + n title="Page " + n )
                input( name="attr_current_page" type="radio" value=n )
                span.label= "Page " + n
    .folio
        +page
            +row
                +section
                    .logo
                        img( src= logo alt="Pathfinder Logo"  )
                        .subtext
                            | Character
                            br 
                            | Sheet
                    .proficiency
                        h1 Proficiency
                        ul
                            li Untrained +0
                            li Trained 2+Level
                            li Expert 4+level
                            li Master 6+Level
                            li Legendary 8+Level
                    .actions 
                        h1 Action
                        ul
                            li 
                                +icon( free_action, "Free Action", "Action, Free" )
                            li 
                                +icon( single_action, "Free Action Icon", "Action, Free" )
                            li 
                                +icon( two_action_activity, "Two Action Activity", "Activity, Two-Action" )
                            li  
                                +icon( three_action_activity, "Three Action Activity", "Activity, Three-Action" )
                            li  
                                +icon( reaction, "Reaction", "Reaction" )
                +section
                    +field( "character_name", "Character\nName" )
                    +field( "player_name", "Player\nName" )
                    +input( "experience_points", "Experience\nPoints (XP)")
                +section
                    +input( "ancestry_and_heritage", "Ancestry and Heritage" )
                    +input( "background", "Background")
                    +input( "class", "Class" )
                    +input( "size", "Size" )
                    +input( "alignment", "Alignment" )
                    +input( "deity", "Deity" )
                    +input( "traits", "Traits" )
                +section
                    +fieldset( "Level" )
                    +fieldset( "Hero Points" )
            +row
                +section
                    +fieldset( "Ability Scores" )
                    +fieldset( "Class DC" )
                +section
                    +fieldset( "Armor Class" )
                    +fieldset( "Saving Throws" )
                +section
                    +fieldset( "Hit Points" )
                    +fieldset( "Perception" )
            +row
                +section
                    +fieldset( "Speed" )
                    +fieldset( "Melee Strikes" )
                    +fieldset( "Ranged Strikes" )
                    +fieldset( "Weapon Proficiencies" )
                +section
                    +fieldset( "Skills" )
                    +fieldset( "Languages" )
        +page
            +row
        +page
        +page