@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import './src/scss/0-reset';
@import './src/scss/1-variables';
@import './src/scss/2-base';
@import './src/scss/3-layout';
@import './src/scss/4-modules';
@import './src/scss/5-mixins';
@import './src/scss/6-roll20';


//Active Tab/Page Formatting
$tabGroup : "";
$sheetGroup : "";
@for $i from 1 through 4 {
    $tabGroup: $tabGroup + "." + $s_ + "current-page[value=\"" +$i + "\"] ~ ." + $s_ + "view ." + $s_ + "tabs ." + $s_ + "tab" + $i;
    $sheetGroup: $sheetGroup + "." + $s_ + "current-page[value=\"" +$i + "\"] ~ ." + $s_ + "view ." + $s_ + "folio ." + $s_ + "page" + $i;
    @if $i < 4 {
        $tabGroup: $tabGroup + ", ";
        $sheetGroup: $sheetGroup + ", ";
    }
}

#{$tabGroup} {
    background: $tan;
}

#{$sheetGroup} {
    transform: scale( 1 );
}

.#{$s_}title {
    display: grid;
    grid-area: title;
    grid-template-areas:
        "logo"
        "sub-title";
    place-items: center;
    place-contents: center;
}

.#{$s_}logo {
    grid-area:logo;
    height: 4em;
    margin: -1em;
}

.#{$s_}sub-title {
    @include aclonica;
    color: $brown_dark;
    font-size: 1.8em;
    font-weight: 900;
    line-height: .5em;
    font-variant: small-caps;
    letter-spacing: .1em;
    grid-area: sub-title;
    text-align: center;
    margin-top: .2em;
    margin-bottom: .4em;
}

.#{$s_}proficiency {
    grid-area: proficiency
}

.#{$s_}actions {
    grid-area: actions;
}

.#{$s_}proficiency, .#{$s_}actions {
    font-size: .8em;
    letter-spacing: 0;
    //transform: scale(.8, 1);
    white-space: pre;
}

.#{$s_}row1 {
    display: flex;
}
//End of File