* {
  box-sizing: border-box;
  /* taken from roll20 */
  font-family: inherit;
  /* taken from roll20 */
  font-size: inherit;
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.tab {
  flex: 0;
  white-space: pre;
  display: grid;
  grid-template-areas: "label";
  grid: 1fr/1fr;
}
.tab input {
  display: none;
}
.tab label {
  grid-area: label;
}
.tab span {
  text-align: center;
}

.page {
  transform: scale(0);
  display: grid;
  grid-area: pages;
  margin: 2em;
  position: relative;
}
.page:after {
  content: "Permission granted to photocopy for personal use only.";
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.section {
  border: 1px solid red;
  display: grid;
  flex: auto;
  min-width: 20%;
}

.sub-section {
  border: 1px solid red;
}

.view {
  display: grid;
  grid: auto 1fr/auto;
  grid-template-areas: "tabs" "folio";
}

.tabs {
  grid-area: tabs;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

input[name=attr_current_page][value="1"] ~ .view .tabs .tab1, input[name=attr_current_page][value="2"] ~ .view .tabs .tab2, input[name=attr_current_page][value="3"] ~ .view .tabs .tab3, input[name=attr_current_page][value="4"] ~ .view .tabs .tab4 {
  background: tan;
}

input[name=attr_current_page][value="1"] ~ .view .folio .page1, input[name=attr_current_page][value="2"] ~ .view .folio .page2, input[name=attr_current_page][value="3"] ~ .view .folio .page3, input[name=attr_current_page][value="4"] ~ .view .folio .page4 {
  transform: scale(1);
}

.folio {
  background: tan;
  color: blue;
  display: grid;
  grid-area: folio;
  grid-template: "pages" auto/auto;
}

.page1 {
  grid-template: "row1" auto "row2" auto "row3" auto/auto;
}

.section-0 {
  grid-template: "logo logo" auto "proficiency action" auto/auto auto;
}

.logo {
  grid-area: logo;
}

.section-2 .sub-section {
  display: flex;
}
.section-2 .sub-section div {
  flex: 1;
}
