- let logo = "https://raw.githubusercontent.com/akpullman/roll20-character-sheets/master/Pathfinder%20Second%20Edition%20by%20Roll20/images/logo.png";
- let free_action = "https://raw.githubusercontent.com/akpullman/roll20-character-sheets/master/Pathfinder%20Second%20Edition%20by%20Roll20/images/1x/Free%20Action.png";
- let single_action = "https://raw.githubusercontent.com/akpullman/roll20-character-sheets/master/Pathfinder%20Second%20Edition%20by%20Roll20/images/1x/Single%20Action.png"
- let two_action_activity = "https://raw.githubusercontent.com/akpullman/roll20-character-sheets/master/Pathfinder%20Second%20Edition%20by%20Roll20/images/1x/Two%20Action.png";
- let three_action_activity = "https://raw.githubusercontent.com/akpullman/roll20-character-sheets/master/Pathfinder%20Second%20Edition%20by%20Roll20/images/1x/Three%20Action.png";
- let reaction = "https://raw.githubusercontent.com/akpullman/roll20-character-sheets/master/Pathfinder%20Second%20Edition%20by%20Roll20/images/1x/Reaction.png";