@mixin wip {
    border: 1px solid red;
}

@mixin paper {
	max-height: 11in;
	max-width: 8.5in;
}

@mixin phone {
	max-height: 480px;
	max-width: 320px;
}

@mixin hidden {
    transform: scale( 0 );
}