//- Colors
//- TO DO, get variables for promintent colors on character sheets
$blue_dark: #292D4F; //- Lucky Point 212d61;
$brown: #9E5B40; //- Sepia 9a513e;
$brown_dark: #5D1F1E; //- Red Oxide 531919;
$brown_light: #E9D7AB; //- Beeswax ead8b0;
$tan: #EDE7E0; //- Desert Storm efeae4;


//- Variables
$for_roll20: false;
$s_: "";

@if $for_roll20 {
    $s_: "sheet-";
}

$paper_height: 11in; //- 1056px
$paper_width: 8.5in; //- 816px
$phone_height: 480px; 
$phone_width: 320px; 

//- Mixins
@mixin fit-to-paper {
	max-height: $paper_height;
	max-width: $paper_width;
}

@mixin fit-to-phone {
	max-height: $phone_height;
	max-width: $phone_width;
}

@mixin stretchy {
    overflow: auto;
    resize: both;
}

@mixin hidden {
    transform: scale( 0 );
}
@mixin wip {
    border: 2px solid red;
}
@mixin wip1 {
    border: 2px solid green;
}

//- Reset
* {
    box-sizing: border-box; /* taken from roll20 */
    font-family: inherit; /* taken from roll20 */
	font-size: inherit;
	font-weight: normal;
	line-height: 1.1;
    margin: 0;
    padding: 0;
}

//- Utilities
ul {
    list-style-type:none;
}

label {
    margin: 0;
}