//tabs container
.#{$s_}tabs {
	grid-area: tabs;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

//Active Tab/Page Formatting
$tabGroup : "";
$sheetGroup : "";
@for $i from 1 through 4 {
    $tabGroup: $tabGroup + "input[name=attr_current_page][value=\"" + $i + "\"] ~ ." + $s_ + "view ." + $s_ + "tabs ." + $s_ + "tab" + $i;
    $sheetGroup: $sheetGroup + "input[name=attr_current_page][value=\"" + $i + "\"] ~ ." + $s_ + "view ." + $s_ + "folio ." + $s_ + "page" + $i;
    @if $i < 4 {
        $tabGroup: $tabGroup + ", ";
        $sheetGroup: $sheetGroup + ", ";
    }
}

#{$tabGroup} {
    background: $tan;
}

#{$sheetGroup} {
    transform: scale( 1 );
}

//Page 1
.#{$s_}page1 {
    grid-template:
        "row1" 1fr
        "row2" 1fr
        "row3" 1fr
        / auto;
}

.#{$s_}section-0 {
    grid-template:
        "logo logo" auto
        "proficiency action" auto
        / auto auto;
}

.#{$s_}logo {
    grid-area: logo;
}

.#{$s_}section-1 {
}

.#{$s_}section-2 {
    
    .#{$s_}sub-section {
        display: flex;
        background: none;
        
        .field {
            flex: 1;
            margin: 0 .1rem;
        }
        
        :first-child {
            margin-left: 0;
        }
        
        :last-child {
            margin-right: 0;
        }
    }
}

.#{$s_}section-3 {
    flex: 0;
}
























































//File End