//tabs container
.#{$s_}tabs {
	grid-area: tabs;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

//Active Tab/Page Formatting
$tabGroup : "";
$sheetGroup : "";
@for $i from 1 through 4 {
    $tabGroup: $tabGroup + "input[name=attr_current_page][value=\"" + $i + "\"] ~ ." + $s_ + "view ." + $s_ + "tabs ." + $s_ + "tab-" + $i;
    $sheetGroup: $sheetGroup + "input[name=attr_current_page][value=\"" + $i + "\"] ~ ." + $s_ + "view ." + $s_ + "folio ." + $s_ + "page-" + $i;
    @if $i < 4 {
        $tabGroup: $tabGroup + ", ";
        $sheetGroup: $sheetGroup + ", ";
    }
}

#{$tabGroup} {
    background: $tan;
}

#{$sheetGroup} {
    transform: scale( 1 );
}

//Page 1
.#{$s_}page-1 {
    grid-template:
        "row-1" auto
        "row-2" auto
        "row-3" auto
        / auto;
}

.#{$s_}row-1{
    @include wip;
    //@include stretchy;
    grid-area: row-1;
}

.#{$s_}section-0 {
    flex: 0;
    grid-template:
        "logo logo" auto
        "proficiency action" 1fr
        / 1fr 1fr;

    .#{$s_}logo {
        grid-area: logo;
        grid-template:
            "logo"
            "subtext";
        margin-top: -1.2em;
        margin-left: -1.2em;
        
        img {
            width: 100%;
        }
        
        .subtext {
            grid-area: subtext;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            line-height: 1em;
            margin-top: -.6rem;
        }
    }
    
    h1 {
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    li {
        white-space: pre;
    }
}

.#{$s_}section-1 {
    grid-template:
        "character-name" 1fr
        "player-name" 1fr
        "experience-points" auto
        / auto;
    .#{$s_}field .#{$s_}content {
        padding-left: 2em;
    }
    
    .#{$s_}character-name, .#{$s_}player-name {
        textarea {
            height: 100%;
        }
    }

    .#{$s_}experience-points  {
        .#{$s_}content{
            padding: 0 0 0 5em !important;
            
            input {
                font-size: 1.8em;
            }
        }
    }
}

.#{$s_}section-2 {
    grid-template: 
        "ancestry-and-heritage ancestry-and-heritage ancestry-and-heritage" auto
        "background background background" auto
        "class class class" auto
        "size alignment deity" auto
        "traits traits traits" 1fr
        / auto auto auto;
    
    .#{$s_}ancestry-and-heritage {
        grid-area: ancestry-and-heritage;
    }
    
    .#{$s_}background {
        grid-area: background;
    }
    
    .#{$s_}class {
        grid-area: class;
    }
    
    .#{$s_}size {
        grid-area: size;
    }
    
    .#{$s_}alignment {
        grid-area: alignment;
    }
    
    .#{$s_}deity {
        grid-area: deity;
    }
    
    .#{$s_}traits {
        grid-area: traits;
    }
}

.#{$s_}section-3 {
    flex: 0;
    grid-template:
        "level" 5em
        "hero-points" 5em
        / auto;
}
























































//File End